/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

@font-face {
    font-family: 'medium-marketing-display-font';
    font-weight: 500;
    font-style: normal;
    src: url('https://glyph.medium.com/font/b6752aa/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/noe-display-500-normal.woff') format('woff');
    unicode-range: U+0-7F,U+A0,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
	background: #efefef;
	margin: 0;
    padding: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: 64px;
    padding: 64px 50px;
    background: #fafafa;

    font-family: 'medium-marketing-display-font';
}

#header > h1 {
    float: left;
    color: #212121;
    text-align: right;
    margin: 7px 0px;
    font-size: 2.5em;
    font-weight: bolder;
}

#nav-bar {
    width: 100%;
    height: 64px;
    background: #c7c7c7;
    padding: 0px 40px;
}
.nav-tab {
    height: 62px;
    width: 100px;
    color: #000000;
    border: none;
    background: none;
}

.nav-tab:focus {
    border-bottom: 3px solid #484848;   
    outline: none; 
}

.paper-material {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 250px;
    z-index: 1;
    position: relative;
    background: #ffffff;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    color: #484848 !important;
    line-height: 20px;
    width: 75%;
    min-width: 500px;
    margin: 40px auto;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.fixed-pos {
    position: fixed;
}

.overflow-auto {
    overflow: auto;
}

.flow-in {
    animation: paper-create 1s ease-in;
    transition: all 1s ease-out;    
}

.flow-out {
    animation: paper-remove 10s ease-in;
    transition: all 10s ease-out;    
}

@keyframes paper-create {
    0% {
        margin-left: 1000px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    99% {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    }
    100% {
        margin-left: 200px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

@keyframes paper-remove{
    0% {
        margin-left: 200px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    1% {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    }
    100% {
        margin-left: -10000px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        visibility: hidden;
    }
}

#main-section {
    width:100%;
    height: 100%;
    margin: 0 auto;
    background: transparent;
    font: 'Roboto', sans-serif !important;
}

#url-form {
    width: 500px;
    padding: 60px 20px 0px 20px;
    margin: 0px auto;
}

#button-div {
    float: right;
}

.group { 
    position:relative; 
    margin-bottom:45px;
    width: 450px; 
  }

input,
textarea {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:450px;
    border:none;
    border-bottom:1px solid #757575;
}

input:focus,textarea:focus { outline:none; }
   
  /* LABEL ======================================= */
  label {
    color:#c7c7c7; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label ,
 textarea:focus ~ label	{
    top:-20px;
    font-size:14px;
    color:#212121;
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:464px; }

  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#212121; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  .bar:before {
    left:50%;
  }

  .bar:after {
    right:50%; 
  }
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after,
  textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */

  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight
  textarea:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#fff; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#fff; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#fff; }
    to 	{ width:0; background:transparent; }
  }

#submit-url {
    float: right;
    position: relative;
    bottom: 0;
    display: block;
    color: #fafafa;
    border: none;
    width: 150px;
    height: 56px;
    background-color: #212121;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-weight: lighter;
    margin: 30px auto 50px auto;
    box-sizing: none;
}

@-moz-document url-prefix() {
    #submit-url {
        float: right;
        position: relative;
        bottom: 0;
        display: block;
        color: #fafafa;
        border: none;
        width: 150px;
        height: 56px;
        background-color: #212121;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        font-weight: lighter;
        margin: 30px auto 50px auto;
        box-sizing: none;
    }
}

#submit-url:focus {
    outline: 0;
} 

#submit-url:hover {
    width: 154px;
    height: 60px;
    margin: 30px auto 46px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.invalid {
    width: 200px;
    margin: 0 200px;
    color: rgb(133, 6, 6) !important;
}

.hidden {
    visibility: hidden;
}

#summary-space {
    width: 75%;
    margin: 0 auto 30px auto;
    padding: 0px 0px;
}

#text-title {
    width: 100%;
    border-radius: 10px;
}

.svgIcon-use {
    float: left;
    margin: 35px 10px;
}

#text-title > h2 {
    float: left;
    width: 75%;
    color: #000000;
    font-size: 2.3em;
    margin: 35px 20px;
    line-height: 50px;
}

#summary-text {
    margin: 0px 50px;
}

#summary-text > p {
    float: left;
    font-size: 1.3em;
    line-height: 30px;
    color: #212121;    
    margin: 0px 0px 50px 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.spinner {
 animation: rotator 1.4s linear infinite;
 margin:0 auto;
}

@keyframes rotator {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(270deg); }
}

.path {
 stroke-dasharray: 187;
 stroke-dashoffset: 0;
 transform-origin: center;
 animation:
   dash 1.4s ease-in-out infinite,
   colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #fafafa; }
    25% { stroke: #c7c7c7; }
    50% { stroke: #212121; }
    75% { stroke: #484848; }
 100% { stroke: #000000; }
}

@keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
    stroke-dashoffset: 46.75;
    transform:rotate(135deg);
    }
    100% {
    stroke-dashoffset: 187;
    transform:rotate(450deg);
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* 
.hidden {
    display: none !important;
    visibility: hidden;
} */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}